body {
  font-family: 'Orbitron', sans-serif;
  padding: 0;
}

.main {
  align-items: center;
  background: no-repeat url("https://images6.alphacoders.com/909/thumb-1920-909641.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.stopwatch {
  align-items: center;
  background-color: #333333;
  border-radius: 10px;
  color: #44b602;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50vh;
  min-width: 50vw;
  opacity: 0.7;
}

.timer h1 {
  font-size: 60px;
  margin: 0;
}

.timer-buttons_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.timer-inputs {
  display: flex;
  flex-wrap: wrap;
  height: 100px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-number {
  background-color: #333333;
  border-radius: 10px;
  color: #44b602;
  font-family: inherit;
  font-size: 40px;
  height: 70px;
  margin: 10px 15px;
  outline: 0;
  padding: 0 5px;
  text-align: center;
  width: 100px;
  -moz-appearance: textfield;
}

.input-number::placeholder {
  color: #44b602;
}

.two-points {
  font-size: 60px;
  margin: 0;
  padding-top: 6px;
}

.button {
  background-color: #333333;
  color: #44b602;
  cursor: pointer;
  font-size: 20px;
  font-family: inherit;
  padding: 10px 20px;
  transition: 0.4s;
  width: 100%;
}

.button:hover {
  background-color: #44b602;
  color: #333333;
}

.button:disabled {
  background-color: #e25b5b;
  color: #333333;
}

.music-buttons, .timer-buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.buttons_subcontainer {
  display: flex;
  width: 100%;
}
